:root {
  --header-bg: #d61800;
  --sidebar-bg: #d61800;
  --footer-bg: #7f152e;
  --card-bg: #edae01;
  --accent: #e94f08;
  --accent-hover: #b83806;
  --bg: #e94f08;
  --text: #fff;
  --footer-text: #fff;
  --sidebar-text: #fff;
  --sidebar-link: #fff;
}

.theme-dark {
  --header-bg: #7f152e;
  --sidebar-bg: #7f152e;
  --footer-bg: #2d0a13;
  --card-bg: #b83806;
  --accent: #edae01;
  --accent-hover: #e94f08;
  --bg: #2d0a13;
  --text: #fff;
  --footer-text: #fff;
  --sidebar-text: #fff;
  --sidebar-link: #fff;
}

body {
  background: var(--bg) url('../assets/cookie.png') no-repeat center center fixed;
  background-size: cover;
}

.desktop-only {
  display: block;
  @media (max-width: 900px) {
    display: none;
  }
}
.mobile-only {
  display: none;
  @media (max-width: 900px) {
    display: block;
  }
}